@import 'bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss'
@import 'bootstrap_overrides.sass'
@import 'toastr'
@import 'variables'
@import 'tags'
@import 'animations'
@import 'tests'

*
  font-family: 'Pirata One', cursive
  font-size: 28px
  color: $cojoc-text-color-light

  -webkit-user-drag: none
  -khtml-user-drag: none
  -moz-user-drag: none
  -o-user-drag: none
  user-drag: none

  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

  cursor: url('../assets/hand.png'), pointer

*:active
  cursor: url('../assets/hand_down.png'), pointer

html, body
  width: 100%
  height: 100%
  overflow: hidden
  margin: 0px
  padding: 0px

body
  background-color: black;
  background-image: url("../assets/bg.png")
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

canvas
  position: absolute
  left: 0px
  top: 0px
  z-index: $z-canvas

#loading
  position: fixed
  z-index: $z-above-all
  top: 0px;
  left: 0px;
  padding: 15px;
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  text-align: center
  opacity: 1;
  transition: opacity .25s ease
  -moz-transition: opacity .25s ease
  -webkit-transition: opacity .25s ease
  pointer-events: none

.settings
  position: fixed
  right: 0px
  bottom: 0px
  max-width: 64px

.landing
  text-align: center
  width: 50%
  height: 100%

  display: flex
  align-items: center
  justify-content: center
