<link rel="stylesheet" href="../css/app.css" />

<script src="../bower_components/coffee-engine/build/coffee-engine-3d.js"></script>
<!-- <link rel="import" href="/tools/coffee-engine.html"> -->

<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>

<script type="text/javascript" charset="utf-8">
    // TODO: explain why this is needed
    require = function (s) {
        console.ce('in the browser ' + s);
        return {}
    }
</script>


<script src="../js/game/Constants.js"></script>

<script src="../js/game/models/LandingModel.js"></script>
<script src="../js/game/models/Cards.js"></script>
<script src="../js/game/models/Glow.js"></script>
<script src="../js/game/models/BoxedModel.js"></script>
<script src="../js/game/models/Card.js"></script>
<script src="../js/game/models/TurnNotification.js"></script>
<script src="../js/game/models/ManaBar.js"></script>
<script src="../js/game/models/CojocText.js"></script>
<script src="../js/game/models/EndTurnButton.js"></script>

<script src="../js/game/models/lines/Curve.js"></script>
<script src="../js/game/models/lines/BaseLine.js"></script>
<script src="../js/game/models/lines/Hand.js"></script>
<script src="../js/game/models/lines/Minions.js"></script>

<script src="../js/game/scenes/MenuScene.js"></script>
<script src="../js/game/scenes/GameScene.js"></script>
<script src="../js/game/scenes/CardsScene.js"></script>

<script src="../js/server/ArenaReferee.js"></script>
<script src="../js/server/Game.js"></script>
