<link rel="import" href="imports.html">

<script src="../js/tests/unit-tests.js"></script>

<script src="../js/tests/card-test.js"></script>
<script src="../js/tests/mana-bar-test.js"></script>
<script src="../js/tests/turn-notification-test.js"></script>
<script src="../js/tests/end-turn-test.js"></script>
<script src="../js/tests/hand-test.js"></script>
<script src="../js/tests/minions-test.js"></script>
<script src="../js/tests/discover-test.js"></script>
<script src="../js/tests/pool-test.js"></script>
<script src="../js/tests/deck-test.js"></script>
<script src="../js/tests/panel-test.js"></script>

<script src="../js/tests/helpers.js"></script>
